<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat optio
      natus soluta sapiente necessitatibus minus omnis repellendus nostrum
      quaerat explicabo, unde tempora velit error temporibus, consequatur porro
      qui accusantium aliquid.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat optio
      natus soluta sapiente necessitatibus minus omnis repellendus nostrum
      quaerat explicabo, unde tempora velit error temporibus, consequatur porro
      qui accusantium aliquid.
    </p>
  </div>
</section>
