<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        necessitatibus dolorem non excepturi dolores sit eveniet enim tenetur
        accusamus voluptate in quis, perspiciatis totam ratione fugit, atque
        quos labore quasi.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
