<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Services</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsam
      placeat natus aspernatur consequatur labore similique quisquam est iste ad
      dolor nisi ratione deleniti totam dolorum vel, autem optio. Nam?
    </p>
  </div>
</div>
